$static-dir: "..";
$font-dir: "#{$static-dir}/font";

// Fonts
$open-sans: "Open Sans";
$fontello: "fontello";

// Colors
$color-green: #3db104;
$color-darkgreen: #4e9d00;
$color-gray: #4f4f4e;
$color-lightgray: #b6b6b6;
$color-lightbg: #f7f4f4;
$color-white: #fff;

// Margin
$margin: 10px;
$margin-top: $margin;
$margin-right: $margin;
$margin-bottom: $margin;
$margin-left: $margin;

// Padding
$padding: 10px;
$padding-top: $padding;
$padding-right: $padding;
$padding-bottom: $padding;
$padding-left: $padding;

// Spacer
$spacer-height: 20px;
